.playerCard{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.034);
    border-radius: 10px;
}

.playerCard .flag-img{
    width: 15%;
}

.playerCard .player-img{
    border-radius: 50%;
    border: 2px solid #0d6efd;
}